main {
    min-height: 90vh;
}

button {
    background-color: $white;
    border: 0;
    border-radius: 2em;
    padding: 1em;
    transition: 1.5s;
}

button:hover {
    transform: scale(1.03);
    background-color: $darkGray;
    color: $white;
}
