main {
    min-height: 90vh;
    margin-left: 1em;
}

button {
    background-color: $white;
    border: 0;
    border-radius: 2em;
    padding: 1em;
    transition: 1.5s;
}

button:hover {
    transform: scale(1.03);
    background-color: $darkGray;
    color: $white;
}

#shop article {
    display: inline-block;

    margin-top: 2em;

    @include BkpM {
        margin-inline: 2em;
    }
    @include BkpS {
        display: block;
    }
    
    text-align: center;

    img {
        height: 250px;
    }

    .amountInCart {
        display: inline-block;
    }
}


#cart {
    margin-bottom: 3em;

    div {
        margin-bottom: 2em;
        
        img {
            height: 100px;
        }

        p, img {
            @include BkpM {
                display: inline-block;
                margin-inline: 0.5em;
            }
        }
    }
}