article {
    border: 1px solid $color-primary;
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em;
    background-color: white;

    img {
        max-width: 100%;
        height: auto;
    }

    h3 {
        color: $color-primary;
    }

    button {
        background-color: $color-primary;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }

    .amountInCart {
        font-weight: bold;
    }
}
